body {
    font-family: 'PT Serif', serif;
    margin-bottom: 1.5em;
    background-color: #2e2e2e;
    color: #d6d6d6;
}
a {
    color:  #e87d3e;
}
img {
    max-width: 100%;
    max-height: 100%;
}
pre code {
    color: white;
}

#mynav {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: 'Alegreya';
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    grid-template-rows: 0.10fr 1fr 0.15fr;
    grid-template-areas: 
        "navigation navigation navigation"
        "main main rsidebar"
        "footer footer footer";
    grid-gap: 0.2rem;
}

#navigation {
    grid-area: navigation;
}
#lsidebar {
    grid-area: lsidebar;
}
#main {
    grid-area: main;
}
#rsidebar {
    grid-area: rsidebar;
}
#footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 1fr 0.15fr;
        grid-template-areas:
            "navigation"
            "main"
            "footer";
        grid-gap: 0.2rem;
    }
}

#mynav svg {
    scale: 0.7;
}

#list-content {
    margin-bottom: 0em;
    line-height: 1.5em;
}

#content {
    line-height: 1.5em;
}

#content>h1,h2,h3,h4,h5,h6 {
    margin-top: 1em;
}

#content > div.highlight {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#list-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#list-project .card-title {
    color: #e87d3e;
}

#list-project .card {
    border-color:#797979;
}
 

#list-project .card-body {
    background-color:#2e2e2e;
}

.project {
    margin-left: 1em;
    margin-bottom: 1em;
}

.tag {
    margin-top: 1em;
    margin-bottom: 0em;
}
