<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-sccale=1">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/mine.css">
  {{ $title := print .Site.Title "|" .Title }}
  {{ if .IsHome }}{{ $title  = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

</head>
